@import url('normal.css');

@media (width < 1366px){
    .policy .sub2 .card:hover:not(.active){
        transform:none;
        box-shadow:none;
    }
    .home .sub2 .fire-dragon{   
        width:400px;
    }
    .home .sub2 .ice-dragon{
        width:400px;
    }
}

@media (max-aspect-ratio: 1/1){
    .home{
        aspect-ratio: 2;
        width:100vw;
        height:auto;
        min-height:unset;
        border-bottom: none;
    }
    .home .sub1{
        width:100%;
        height:auto;
    }
    .home .sub2{
        width:100%;
        height:auto;
    }
    .home .sub1 .title1{
        font-size: 10vw;
        margin-bottom:0;
    }
    .home .sub1 .content1{
        font-size: 2vw;
    }
    .home .sub2 .fire-dragon, .home .sub2 .ice-dragon{   
        width:250px;
        margin-bottom:0;
    }
    .home .sub2{
        gap:7vw;
    }
    .aboutus{
        min-height: unset;
        width:100vw;
        max-width:100vw;
        height:auto;
        border-bottom: none;
    }
    .aboutus img{
        height:100px;
    }
    .aboutus .outer{
        min-height:unset;
        min-width: unset;
        width:80vw;
        height:auto;
        padding-bottom:30px;
    }
    .aboutus .outer .title2{
        margin:20px 0 20px 40px;
        font-size:2.5rem;
    }
    .aboutus  .content2 ,.aboutus .content1{
        display:none;
    }
    .aboutus hr{
        display:none;
    }
    .aboutus .phone-content{
        display:flex;
        flex-direction: column;
        border-radius:40px;
        height:78%;
        width:90%;
        background-color:var(--about-us-content);
        padding-left:20px;
        color:white;
        align-items: left;
        padding-bottom:20px;
    }  
    .aboutus .phone-content hr{
        display:block;
    }
    .aboutus .phone-content h1{
        margin:0;
    }
    .aboutus .phone-content .upper{
        background-color: rgba(255, 255, 255, 0.466);
        width:80%;
        margin-left:0;
        margin-bottom:0;
        height:1px;
        border:none;
    }
    .aboutus .phone-content h1{
        margin-bottom:1px;
    }
    .aboutus .phone-content p{
        margin-top:4px;
        margin-bottom:0;
    }
    .aboutus .phone-content .lower{
        background-color:#ffb657;
        border:none;
        width:80%;
        height:1px;
        margin-top:10px;
        margin-left:0;
        margin-bottom:10px;
    }
    .aboutus .phone-content ul{
        line-height:25px;
    }
    .aboutus .phone-content li{
        margin-top:5px;
    }
    .product{
        width:100vw;
        max-width: 100vw;
        min-height:unset;
        height:auto;
        border-bottom:none;
        position:relative;
    }
    .product .sub1 .title3 {
        font-size:4.6vw;
        margin-bottom:10px;
    }
    .product .list{
        min-height:unset;
    }
    .product .list .item h1{
        font-size:4vw;
        margin-left:1vw;
    }
    .product button{
        transform: translateY(0);
        top:60%;
    }
    .activities{
        border-bottom: none;
    }
    .policy{
        width:100vw;
        max-width:100vw;
        min-height: unset;
        height:auto;
    }
    .policy .sub1 .title4{
        font-size:6vw;
    }
    .policy .sub1 .subtitle{
        font-size:3vw;
        margin-top:10px;
        margin-bottom:10px;
    }
    .policy hr{
        margin: 10px 0 35px 0;
    }
    .policy .sub2{
        flex-direction: column;
    }
    .policy .sub2 .line1 .card, .policy .sub2 .line2 .card{
        width:38.5vw;
        aspect-ratio: 1;        
    }
    .policy .sub2 .card .icon{   
        font-size:4vw;
        margin-bottom:10px;
    }
    .policy .sub2 .card h1{
        font-size:2.5vw;
        margin-bottom: 10px;
    }
    .policy .sub2 .card ul{
        color:white;
        font-size:2vw;
        line-height:3vw;
        align-items: center;
        margin-left:20px;
    }
    .comment{
        border-top:1px solid var(--pages-bottom-border);
        min-height:unset;
        height:auto;
        width:100vw;
        max-width:100vw;
        padding-top:30px;
        padding-bottom:40px;
    }
    .comment .title5{
        font-size: 4vw;
    }
    .comment .subtitle{
        font-size: 3vw;
    }
    .comment .log-in-bt{
        width:230px;
        height:36px;
        font-size:14px;
        border-radius:6px;
        gap:10px;
    }
    .comment .log-in-bt img{
        width: 16px;
        height: 16px;
    }
}   
